#main-content {

    background-color: rgb(104, 172, 203);
    grid-row-start: 2;
}

#wrapper {
    display: grid;
    grid-template-rows: 1fr fit-content;
    grid-template-columns: 1fr 5fr;
}

nav{
    grid-row-start: 2;
    grid-column-end: 2;
}

.checkbox-box {
    border: black solid 1px;
    width: 10px;
    height: 10px;
}

.remove-selected-items {
    border: black bold 1px;
}